@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body
{
    overflow: hidden;
    background: #6D76BB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6D76BB;
    background: linear-gradient(to bottom, #6D76BB, 3dff1ff);
}
section .color
{
    position: absolute;
    filter: blur(10px);
}
section .color:nth-child(1)
{
    top: -100px;
    width: 100%;
    height: 100%;
    background: #6D76BB;
}
section .color:nth-child(2)
{
    bottom: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    background: #6D76BB;
}
section .color:nth-child(3)
{
    bottom: -10px;
    right: 5px;
    width: 100%;
    height: 100%;
    background: #6D76BB;
}
.box
{
    position: relative;
}
.box .square
{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate 
{
    0%,100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}
.box .square:nth-child(1)
{
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2)
{
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3)
{
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4)
{
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.box .square:nth-child(5)
{
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}
.contenedor
{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}
.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2
{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.form h2::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}
.form .inputBox
{
    width: 100%;
    margin-top: 20px;
}
.form .inputBox input
{
    width: 100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.form .inputBox input::placeholder
{
    color: white;
}
.form .inputBox a
{
    background: white;
    text-decoration: none;
    color: #666;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 30px;
    max-width: 150px;
}
section .contenedor form .recordar
{
    font-size: 15px;
}